@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap");
// font family
$space-mono: "Space Mono", monospace;
$inter: "Inter", sans-serif;
$barlow: "Barlow", sans-serif;

// font weight
$thin: 100;
$regular: 400;
$bold: 700;

//colors
$default-color: #292a2c;
$text-color: #e2e2e2;
$primary: #b31d39;
$secondary: #7c0014;
$accent: #eb5563;
