@import "variables";
@import "globals";

.about-container {
  padding: 100px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $default-color;
}

h1 {
  font-size: 64px;
}
h2,
p {
  font-weight: $thin;
  padding: 20px 0;
  line-height: 2;
}

p {
  line-height: 1.1;
}

.text-section {
  width: 45%;
}
.photo {
  img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 50px;
  }
}
.cv-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  padding: 100px 250px;
  font-size: 22px;

  h3 {
    color: $secondary;
  }
}
.two-columns {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .about-container {
    flex-direction: column-reverse;
    padding: 50px 30px;
  }
  h1 {
    font-size: 32px;
  }
  h2,
  h3,
  p {
    font-size: 18px;
  }
  .text-section {
    width: 100%;
    text-align: center;
  }
  .photo {
    img {
      width: 250px;
      height: 250px;
      margin: 20px;
    }
  }
  .cv-grid {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
  }
  .two-columns {
    width: 80vw;
  }
}
